<section id="calc-square" (mouseover)="modeOnOrOff()">
  <div id="grid-divisor">
    <div id="calc-visor">
      <div id="calc-visor-square">
        <div id="operations">{{ displayCalc }}</div>
      </div>
    </div>
    <div id="buttons-space">
      <div class="grid-collumn">
        <app-botao
          (click)="funcoesCalc(1)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="AC"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
        <app-botao
          (click)="funcoesCalc(2)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="CE"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
        <app-botao
          (click)="funcoesCalc(3)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="OFF"
          fontSize="30px"
          backgroundColor="red"
        ></app-botao>
        <app-botao
          (click)="funcoesCalc(4)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="ON"
          fontSize="30px"
          backgroundColor="green"
        ></app-botao>
      </div>
      <div class="grid-collumn">
        <app-botao
          (click)="numeros(1)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="1"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(2)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="2"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(3)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="3"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="operacoes(1)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="+"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
      </div>
      <div class="grid-collumn">
        <app-botao
          (click)="numeros(4)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="4"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(5)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="5"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(6)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="6"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="operacoes(2)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="-"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
      </div>
      <div class="grid-collumn">
        <app-botao
          (click)="numeros(7)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="7"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(8)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="8"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="numeros(9)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="9"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="operacoes(3)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="/"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
      </div>
      <div class="grid-collumn">
        <app-botao
          (click)="numeros(100)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="."
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
        <app-botao
          (click)="numeros(0)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="0"
          fontSize="30px"
          backgroundColor="lightblue"
        ></app-botao>
        <app-botao
          (click)="funcoesCalc(5)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="="
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
        <app-botao
          (click)="operacoes(4)"
          larguraPadrao="70px"
          alturaPadrao="70px"
          conteudo="*"
          fontSize="30px"
          backgroundColor="#054F77"
        ></app-botao>
      </div>
    </div>
  </div>
</section>
